body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 8px;
}

#prompt {
    margin-top: 20px;
}

#container {
    width: 40vw;
    height: 40vw;
    min-width: 350px;
    min-height: 350px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

.square {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#options {
    width: 40vw;
    min-width: 350px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#normal,
#rgb {
    flex: 1 0 50%;
}